{
  "RNL_LETSREG_AFFILIATE_ID": "1",
  "RNL_LETSREG_ORGANIZER_ID": "11411",
  "RNL_LETSREG_USERNAME": "admin@salsanor.com",
  "RNL_LETSREG_PASSWORD": "eyeAQY7934Ye@3S",
  "RNL_LETSREG_CLIENT_ID": ""
}
